
.header {
    width: 100%;
    padding: 2%;
    background-color: burlywood;
    color: white;
    text-align: center;
  }
  
  .display-board {
    width: 100%;
    border: 0;
    border-radius: 25px;
    background-color: rgb(555, 200, 789);
    padding: 8%;
  }
  
  .number {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .numberValid{
    color: green;
    font-size: 20px;
    text-align: center;
  }
  .numberInValid{
    color:brown;
    text-align: center;
    font-size: 20px;
  }
  
  .mrgnbtm {
    margin-top: 20px;
  }
  .btnHolder{
    text-align: center;
  }
  .getUsersButton {
    background-color: rgb(170, 224, 218);
    font-size:20px;
    cursor: pointer;
    padding: 8px;
    border: 0;
    border-radius: 15px;
    width:180px;
    height:50px;

  
  }